div, p, h1, h2, h3, container, ul {
  padding-left: 10px;
  font-family: sans-serif;
}

nav {
  background-color: DarkBlue;
}

p {
  font-family: Georgia;
}

#movie {
  position: absolute;
  display: block;
  margin: auto;
}

/*div {
  display: block;
  margin: auto;
  width: 40%;
  text-align: center;
}*/